.btn{
  color: #F4CE14;
  background-color: #495E57;
  border: 2px solid #F4CE14;
  border-radius: .5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: 'Gentium Plus';
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn:hover{
  background-color: #2F3D38;
}